<article class="card text-center h-100">
    <figure>
        <img class="user-img" [src]="myUser()?.image" alt="usuario">
    </figure>
    <div class="card-body">
        <h5 class="card-title"> {{myUser()?.first_name}} {{myUser()?.last_name}}</h5>
    </div>
    <div class="card-footer bg-white border-0">
        <div class="d-flex justify-content-around">
            <div class="text-center" [routerLink]="['/user',myUser()?._id]">
                <i class="iconos bi bi-search fs-4"></i>
                <div class="small"> Ver detalle</div>
            </div>
            <div class="text-center" [routerLink]="['/updateUser', myUser()?._id]">
                <i class="iconos bi bi-arrow-repeat fs-4"></i>
                <div class="small">Actualizar</div>
            </div>
            <div class="text-center" (click)="deleteUsuario(myUser()?._id)">
                <i class=" iconos bi bi-trash fs-4"></i>
                <div class="small">Borrar</div>
            </div>
        </div>

    </div>

</article>
